font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;

@tailwind base;
@tailwind components;
@tailwind utilities;

.ic {
    height: 1em;
    width: 1em;
    display: inline-flex;
}

.fg1 {
    background-image: url(../img/dfr.png);
    background-size: cover;
    background-position: top;
}